*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE599;
    
}

.pg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: #495662;
    color: white;
    border-radius: 20px;
    font-size: medium;
    margin: 25px;
}

.imagen{
    width: 800px;
    height: 500px;
}

.lector{
    width: 600px;
    height: 300px;
}

.valorar{
    width: 400px;
    height: 400px;
}

.menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #495662;
    color: white;
}

.logo{
    width: 120px;
    height: 100px;
}

.mi-lista {
    list-style-type: square; /* Cambia el tipo de marcador a un cuadrado */
    margin: 20px; /* Añade margen alrededor de la lista */
    padding: 10px; /* Añade relleno dentro de la lista */
    
}

.mi-lista li {
    color: #333; /* Color del texto de los elementos de la lista */
    padding: 5px; /* Añade relleno a cada elemento de la lista */
}

.mi-lista a {
    color: #333; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    display: block; /* Hace que los enlaces ocupen todo el espacio del elemento de lista */
}

.mi-lista a:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el cursor por encima */
}

/* Hacer responsive para moviles */